{% extends 'base.html' %}


{% block content %}
    <style scoped>
        .wrapper {
            display: flex;
            gap: 30px;
            justify-content: center; 
            align-items: center; 
        }
    </style>

    <div id="app"> 
        <div class="wrapper">
            <img :src="image" width="100px" height="100px"/>
            <h1>{greeting}</h2>
        </div>
        
        <button @click="getFact">
            Random Fact
        </button>
        <p v-if="facts.length">Most Recent Fact: {facts[facts.length - 1].text}</p>
        <h2> All Facts</h2>
        <ul>
            <li v-for="fact in facts" :key="fact.id">
                <p>
                    Number: {fact.number} Fact: {fact.text} ID: {fact.id}
                </p>
            </li>
        </ul>
        <button @click="onShuffle">
            Shuffle Facts 
        </button>
    </div>
{% endblock %}
